@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Semantic Colors */
  --card-bg: #ffffff;
  --card-border: #e5e7eb; /* gray-200 */
  --status-box-bg: #f0f0f0;
  --graph-card-bg: #a4a1a1;
  --graph-card-back-bg: #cfc9c9;
  --text-primary: #171717;
  --text-secondary: #4b5563; /* gray-600 */
  --text-inverted: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    /* Semantic Colors Dark */
    --card-bg: #171717; /* gray-900 */
    --card-border: #262626; /* gray-800 */
    --status-box-bg: #1e1e1e;
    --graph-card-bg: #333333;
    --graph-card-back-bg: #404040;
    --text-primary: #ededed;
    --text-secondary: #9ca3af; /* gray-400 */
    --text-inverted: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
